.announcement-link-text p{
  margin-bottom:0;
}
.grid-product__tag--sale{
  right: auto;
  left: 0;
}
.grid-product__tag.grid-product__tag--sold-out {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
  font-size: 11px;
  line-height: 1.4;
}
.grid-product__tag.grid-product__tag--custom{
  background-color: #ff4f33;
  color: #ffffff;
}

.variant-size--measurement {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.variant-size--measurement img{
    display: block;
    width: 24px;
}
.grid-product .grid-product__colors{
  justify-content: flex-start;
}
.grid-product .grid-product__meta {
  text-align: left !important;
}
.grid-product__color-name {
    color: #737373;
    font-size: 12px;
    padding-bottom: 6px;
}
.grid-product__colors .color-swatch.active{
  box-shadow: 0 0 0 1px var(--colorTextBody);
}
.grid-product__price-sale .grid-product__price--original~span{
  color: #FF4F33;
  margin-left: 5px;
  font-weight: bold;
}
.grid-product__price-sale .grid-product__price--original{
  margin-right: 0;
}
.grid-product__price{
  text-align: right;
}

.modal--quick-shop .product-slideshow .product-main-slide {
    min-height: 665px;
}
.grid-product__price-sale span.geolizr-currency {
    color: #f24f34;
    top: 0 !important;
}
.cart-has-compare {
    display: flex;
    flex-direction: column;
}
.cart-has-compare span:first-child {
    text-decoration: line-through;
    margin-bottom: 5px;
}
.cart-has-compare span:last-child {
    color: #f24f34;
}
@media only screen and (min-width:769px){
  .grid-product .grid-product__meta {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .grid-product__price span.geolizr-currency {
      font-weight: bold;
      position: relative;
      top: 0px;
  }  
}

@media only screen and (max-width:768px){
  .hero__text-content.mobile-horizontal-left{
    text-align:left;
  }
  .hero__text-content.mobile-horizontal-center{
    text-align:center;
  }
  .hero__text-content.mobile-horizontal-right{
    text-align:right;
  }
  .hero__text-content.mobile-vertical-center{
    vertical-align:middle;
  }
  .hero__text-content.mobile-vertical-bottom{
    vertical-align:bottom;
  }
  .template-collection .grid-product__color-name {
    padding-left: 10px;
    padding-right: 10px;
  }
  .template-collection .grid-product__colors{
    padding-left: 5px;
    padding-right: 5px;
  }
  .grid-product__price {
    text-align: left;
  }
}